.home {
  min-height: 100vh;
}

.gridContainer {
  padding-top: 24px;
  padding-bottom: 48px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px 24px;
}

@media (min-width: 550px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 950px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1128px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1640px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}